.console-container {
    width: 100%;
    /* height: 100%; */
    /* display: inline-block; */
    background-color: white;
    color: #253061;
    /* border: 0.5px solid #E0E5F6; */
    /* display: flex; */
    flex-direction: row;
    left: 0;
    right: 0;
    position: relative;
    margin: auto;
    padding: 1px;
    /* flex: 0 1 auto; */
}

.console-sidebar {
    width: 10%;
    background-color: white;
    height: 100%;
    font-size: 12px;
    border-right: solid 1px #E0E5F6;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.console-logo {
    margin-bottom: 40px;
    padding: 50px;
    border-bottom: solid 1px #E0E5F6;
    background-color: white;
    cursor: pointer;
}

.console-sidebar-content {
    padding: 0px;
}

.console-sidebar-footer {
    border-top: solid 1px #E0E5F6;
    padding: 20px 10px 20px 10px;
    font-size: 12px;
}

.console-sidebar-links {
    text-transform: none !important;
    justify-content: left !important;
}



/* .console-content-header {
    font: 20px/1.5 Helvetica, sans-serif;
    padding-left: 60px;
    color: #568eb4;
    background: rgb(200, 214, 214);
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    display: flex;
    flex-direction: row;
} */

.console-content {
    background-color: white;
    /* display: flex; */
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    font-size: 14px;
    text-align: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 10%;

}

.console-content-children {
    /* width: 100%;
    height: 100%;
    display: inline-block;
    background-color: white;
    color: #253061; */


    /* display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    margin: auto; */
    /* padding: 10px; */
    /* justify-content: space-around; */
}

.console-visitor-summary {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;
}

.console-visitor-now {
    width: 30%;
    /* height: 150px; */
    border-radius: 10px;
    margin: 10px;
    /* flex: auto; */
    color: #E0E5F6;
    align-items: left;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #34bfff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #758cb6, #1345cf);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* TODAY */
.console-visitor-period {
    width: 30%;
    /* height: 150px; */
    border-radius: 10px;
    /* flex: auto; */
    color: #253061;
    align-items: left;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #FFC233;

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff468, #FFC233);
}

/* visitors EVER */
.console-activeDevices {
    width: 30%;
    /* height: 150px; */
    border-radius: 10px;
    margin: 10px;
    color: #c167ff;
    flex: auto;
    align-items: left;
    /* justify-content: center; */
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #E0E5F6;

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #E0E5F6);
}

.console-genAuthCodeChip {
    color: #8934FF !important;
    width: 300px;
    background-color: #E0E5F6 !important;
    justify-content: left !important;
}

.console-noDataChip {
    font: 20px/1.5 Helvetica, sans-serif;
    padding-left: 60px;
    color: #568eb4;
    background: rgb(200, 214, 214);
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    display: flex;
    flex-direction: row;
}

.console-authCodeDiv {
    width: 100%;
    background-color: #E0E5F6;
    text-align: left;
    padding: 20px 60px 20px 60px;
    /* display: flex; */
    /* flex-direction: row; */
    /* left: 0;
    right: 0;
    margin: auto; */
    /* display: inline-block; */
}

.console-submitAuthCodeButton {
    text-transform: none !important;
    color: #8934FF !important;
    border-color: #8934FF !important;
}

.console-authCodeImage {
    background-color: #253061;
    width: 200px;
    height: 100%;
}


.console-graph-area {
    border: solid 1px #E0E5F6;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    color: #3463ff;
    width: 100%;
    display: inline-block;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.console-graph-header {
    font-size: 18px;
    text-align: center;
    color: #8934FF;
    width: 100%;
    display: inline-block;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}



.console-vRegisterButton-row {
    display: flex;
    align-items: flex-end;
    /* margin-top: 20px; */
    /* position: absolute; 
    bottom: 0; left: 0; */
}