@import url(https://fonts.googleapis.com/css?family=Roboto);


.vcontainer {
    display: flex;
    height: 100%;
    /*   width: 100%; */
    max-width: 40rem;
    display: block;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    background-color: white;
    border: 0.5px solid #E0E5F6;
    border-radius: 5px;
    padding: 0 0em;


}

.vcontainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transition: -webkit-transform 0.28s ease-in-out;
    transition: -webkit-transform 0.28s ease-in-out;
    transition: transform 0.28s ease-in-out;
    transition: transform 0.28s ease-in-out, -webkit-transform 0.28s ease-in-out;
    z-index: -1;
}

.vcontainer:hover::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}


.form-group {
    padding: 1em;

    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}


/* 
.form-help {
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    color: #b3b3b3;
    font-size: 0.8rem;
}

.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
    position: absolute;
    width: 100%;
}

.checkbox .form-help {
    position: relative;
    margin-bottom: 1rem;
}

.form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
} */

/* 
.login-container {
    position: relative;
    max-width: 40rem;
    margin: 5rem auto;
    background: #fff;
    width: 100%;
    padding: 3rem 5rem;
    border-radius: 1px;
}

.login-form-area {
    background-color: white;
    border: 0.5px solid #E0E5F6;
    border-radius: 5px;
    width: 350px;
    height: 400px;
    padding: 20px;
} */

.login-name-logo {
    display: inline;
    display: flex;
    margin: auto;
    align-self: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
}